body {
  overflow-x: hidden !important;
}

.gbkt-title {
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

#give {
  margin-bottom: -25px;
  margin-top: 15px;
}

.give-span {
  color: #50bcd5;
}

.track-span {
  color: #50bcd5;
}

#keep {
  margin-bottom: 20px;
}

.welcome-font {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

#btn-space {
  margin: 10px;
}

.btn-success.custom-btn {
  background-color: white;
  border-color: #16c661;
  color: #16c661;
}

.btn-success.custom-btn:hover {
  background-color: #16c661;
  color: white;
}

.bottom-welcome-icons {
  padding: 40px;
}

#email-welcome {
  color: #212629;
  font-weight: bold;
}

#amount-welcome {
  color: #212629;
  font-weight: bold;
}
