body { overflow-x: hidden !important;}

.gbkt-title {
  font-size: 3rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Montserrat", SansSerif;
  text-shadow: 2px 5px 4px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}

#give {
  margin-bottom: -35px;
  margin-top: 25px;
}

.give-span {
  color: #80CDDF;
}

.track-span {
  color: #80CDDF;
}
  
#keep {
  margin-bottom: 20px;
}

.welcome-font {
font-size: 1.3rem; 
font-family: "Montserrat", SansSerif; 
background-color:white;
}

#btn-space {
  margin:10px;
}

.btn-success.custom-btn {

  background-color:  white;
  border-color: #16C661;
  color: #16C661;
  
}

.btn-success.custom-btn:hover {
  background-color: #16C661;
}

.bottom-welcome-icons {
 padding:40px;
}

