.gbkt-title {
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Montserrat", Sans-serif;
}

#give {
  margin-bottom: -25px;
  margin-top: 15px;
}

.give-span {
  color: #50bcd5;
}

.track-span {
  color: #50bcd5;
}

#keep {
  margin-bottom: 20px;
}

.login-wrap-div {
  background-color: #f7f7f7;
  padding: 80px 0px 160px 0px;
  margin-top: 10vh;
}

.login-signup {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

#login-div {
  margin: 0 20px 0 20px;
  padding: 50px;
}

.input-form-margin {
  margin-bottom: 20px;
  width: 80%;
}

.login-signup-btns {
  margin: 5px;
  margin-bottom: 20px;
}
.btn-primary.custom-btn {
  background-color: #f2f2f2;
  border-color: #51bbd5;
  color: #51bbd5;
}

.btn-primary.custom-btn:hover {
  background-color: #51bbd5;
  color: white;
}

.catch-phrase {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #727482;
  margin-top: -20px;
}

.circle-icons {
  margin-bottom: 10px;
}
