#home {
  background-color: #e5ecee;
  padding-bottom: 22vh;
}

#give-spacing {
  margin-bottom: -40px;
}

#gbkt-main-header {
  margin-top: 70px;
  font-size: 23px;
}
#phone-img {
  max-width: 100%;
  margin-top: 20px;
}

#home-header {
  font-weight: bold;
  padding-left: 20px;
  font-size: 2em;
  word-wrap: none;
}

.gbkt-title-home {
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  word-wrap: none;
}

.home-header-subfont {
  font-family: "Montserrat", Sans-serif;
  word-wrap: none;
  padding-left: 10px;
}
